<!-- the format of this file is DIFFERENT from the standard configuration file -->
<configuration>
    <!-- required to ensure that bridging from java.util.logging does not cause a 20% performance hit -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <!-- always good activate OnConsoleStatusListener -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- 12 Factor says only log to STDOUT and STDERR and let the process manager worrying about sending it to the aggregator. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <includeContext>false</includeContext>
            <timeZone>UTC</timeZone>
            <fieldNames>
                <message>raw-message</message>
                <fieldsRequestHeaders>@fields.request_headers</fieldsRequestHeaders>
                <fieldsResponseHeaders>@fields.response_headers</fieldsResponseHeaders>
            </fieldNames>
        </encoder>
    </appender>

    <appender-ref ref="CONSOLE" />

</configuration>
